<button ng-click="$ctrl.logout()">exit</button>
<br>
<input type="text" ng-model="$ctrl.name" placeholder="name">
<input type="text" ng-model="$ctrl.email"  placeholder="email">
<input type="text" ng-model="$ctrl.phone" placeholder="phone">
<input type="text" ng-model="$ctrl.city"  placeholder="city">
<input type="file" name="file" class="inputimg" id="nameImg" accept="image/*">
<button ng-click="$ctrl.submit($ctrl.itemId)">new add</button>
<button ng-click="$ctrl.uploadFile()">upload image</button>

