<div class="container">
    <form ng-submit="">
        <div class="row">
            <div class="inputs form-inline col-lg-offset-1">
                <input type="text" ng-model="$ctrl.name" placeholder="Name" class="form-control">
                <input type="email" ng-model="$ctrl.email"  placeholder="e-mail" class="form-control">
                <input type="tel" ng-model="$ctrl.phone" placeholder="phone" class="form-control">
                <input type="text" ng-model="$ctrl.city"  placeholder="city" class="form-control">
                <button ng-click="$ctrl.submit($ctrl.itemId)" ng-disabled="!$ctrl.isUploaded" class="btn btn-default">Submit</button>
            </div>
        </div>
        <div class="row">
            <div class="controlls col-lg-offset-5">
                <label class="btn btn-default btn-file" ng-click="$ctrl.url=null">
                    Select Photo<input type="file" id="nameImg" accept="image/*" style="display: none">
                </label>
                <button ng-click="$ctrl.uploadFile()" class="btn btn-default" >Upload Photo</button>
            </div>
        </div>
    </form>
    <logoutbtn></logoutbtn>
</div>